<template>
  <div class="">
    <input type="text" v-model="cCode"/>
    <button v-on:click="search">Search</button>
    <div v-if="details.currencyCode">
      Found this currency
      <div>{{details.currencyCode}}</div>
      <div>{{details.name}}</div>
      <div>{{details.decimal}}</div>
    </div>
<!--    <div v-if="containerSearchError !== undefined">-->
<!--      <h1>{{containerSearchError}}</h1>-->
<!--    </div>-->
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';
// import { CurrencyRequest, CurrencyReply } from '@/protots/currency-service';
// import { CurrencyRequest, CurrencyReply } from '@/sbt-protots/currency-service_pb';
import {
  CurrencyRequest as SbtCurrencyRequest,
  CurrencyReply as SbtCurrencyReply, Currency,
} from '@/sbt-protots/currency-service';
// import CurrencyService from '@/api/CurrencyService';

@Component({
  components: {},
  props: {
    service: Object,
  },
  data: () => ({
    details: Object,
  }),
})
export default class CurrencySearch extends Vue {
  @Prop() private msg!: string;

  private cCode = '';

  private details?: Currency;

  private search(): void {
    const nativeRequest = SbtCurrencyRequest.fromJSON({ currencyCode: this.cCode });
    this.$props.service.GetCurrency(nativeRequest)
      .then((result: SbtCurrencyReply) => {
        this.$emit('currencyRetrieved', result);
        this.details = result.currency!;
      })
      .catch((error: Error) => {
        console.error(`gRPC request failed: ${JSON.stringify(error)}`);
        this.$emit('currencyFailed', error);
      });

    // const request: CurrencyRequest = { currencyCode: 'CAD' };
    // currencyService.GetCurrency(request)
    //   .then((result: CurrencyReply) => {
    //     this.$emit('currencyRetrieved', result);
    //   })
    //   .catch((error) => {
    //     console.error(`gRPC request failed: ${JSON.stringify(error)}`);
    //     this.$emit('currencyFailed', error);
    //   });
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
