<template>
  <div class="">
    <div>
      Create User
      <input type="text" v-model="createUsername"/>
      <input type="email" v-model="createEmail"/>
      <button v-on:click="create">Create</button>
    </div>
    <div>
      Find User
      <input type="text" v-model="searchUsername"/>
      <button v-on:click="search">Search</button>
    </div>
    <div v-if="user.username">
      Found user
      {{user.username}} - {{user.email}}
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';
import UserService from '@/api/UserService';
import { UserRequest, UserProfile, UserProfileReply } from '@/sbt-protots/user-service';
// import { CurrencyRequest, CurrencyReply } from '@/protots/currency-service';
// import { CurrencyRequest, CurrencyReply } from '@/sbt-protots/currency-service_pb';
import {
  CurrencyRequest as SbtCurrencyRequest,
  CurrencyReply as SbtCurrencyReply, Currency,
} from '@/sbt-protots/currency-service';
import CurrencyService from '@/api/CurrencyService';

@Component({
  data: () => ({
    user: Object,
  }),
})
export default class UserApi extends Vue {
  @Prop() private msg!: string;

  private createUsername = '';

  private createEmail = '';

  private searchUsername = '';

  private user?: UserProfile = undefined;

  private create(): void {
    const nativeRequest = UserProfile.fromJSON({
      username: this.createUsername,
      email: this.createEmail,
    });
    UserService.userService.CreateProfile(nativeRequest)
      .then((result: UserProfileReply) => {
        this.$emit('userProfileCreated', result);
      })
      .catch((error: Error) => {
        console.error(`gRPC request failed: ${JSON.stringify(error)}`);
        this.$emit('userCreateFailed', error);
      });
  }

  private search(): void {
    const nativeRequest = UserRequest.fromJSON({
      username: this.searchUsername,
    });
    UserService.userService.GetProfile(nativeRequest)
      .then((result: UserProfileReply) => {
        this.$emit('userProfileFetched', result);
        this.user = result.userProfile;
      })
      .catch((error: Error) => {
        console.error(`gRPC request failed: ${JSON.stringify(error)}`);
        this.$emit('userCreateFailed', error);
      });
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
