<template>
  <div class="home">
    <div>
      <div>Akka Currency Search</div>
      <CurrencySearch
        @currencyRetrieved="this.showCurrencyResult"
        @currencyFailed="this.showCurrencyError"
        :service="akkaService"
      />
    </div>
    <div>
      <div>Play Currency Search</div>
      <CurrencySearch
        @currencyRetrieved="this.showCurrencyResult"
        @currencyFailed="this.showCurrencyError"
        :service="playService"
      />
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import { GRPCError } from '@/model/GRPCError';
import CurrencySearch from '@/components/CurrencySearch.vue';
// import { CurrencyReply } from '@/protots/currency-service';
import { Currency, CurrencyReply } from '@/sbt-protots/currency-service';
import CurrencyService from '@/api/CurrencyService';

@Component({
  components: {
    CurrencySearch,
  },
  data: () => ({
    containerSearchError: {},
    akkaService: CurrencyService.akkaCurrencyService,
    playService: CurrencyService.playCurrencyService,
  }),
})
export default class CurrencyComponent extends Vue {
  private containerSearchError: GRPCError | undefined = undefined;

  private details: Currency | undefined = undefined;

  showCurrencyResult = (currencyReply: CurrencyReply) => {
    console.log(`We got currency results! ${JSON.stringify(currencyReply)}`);
    this.details = currencyReply?.currency;
  }

  showCurrencyError = (error: Error) => {
    console.log(`We got an error: ${JSON.stringify(error)}`);
  }

  // private showContainerSearchError(searchError: GRPCError): void {
  //   this.details = {} as ContainerDetails;
  //   console.log(searchError);
  //   console.log(searchError.code); // https://grpc.github.io/grpc/core/md_doc_statuscodes.html
  //   this.containerSearchError = searchError;
  // }
}
</script>
